*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
 
    background:linear-gradient(to right,rgb(13, 39, 48),rgb(134, 113, 113)
    );
}
.container{
    width: 100vw;
   

}
.hero_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
   
}

.about-section{
    color: white;
    height: 100vh;
    display: flex;
    gap: 30px;
    

}
.left{
    height: fit-content;
}
.left img{
    border-radius: 50%;

}
.right{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    
}
.right li{
    list-style: none;
}
.list{
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}